html{
box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


html, body {
  height: 100%;
}

.navbar-default {
  background-color: #fdaa08;
  border-color: #ffc928;
}
.navbar-default .navbar-brand {
  color: #16819c;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #02dbdb;
}
.navbar-default .navbar-text {
  color: #16819c;
}
.navbar-default .navbar-nav > li > a {
  color: #16819c;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #02dbdb;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #02dbdb;
  background-color: #ffc928;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #02dbdb;
  background-color: #ffc928;
}
.navbar-default .navbar-toggle {
  border-color: #ffc928;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #ffc928;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #16819c;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #16819c;
}
.navbar-default .navbar-link {
  color: #16819c;
}
.navbar-default .navbar-link:hover {
  color: #02dbdb;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #16819c;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #02dbdb;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #02dbdb;
    background-color: #ffc928;
  }
}



body {
/*  background-color: #06D6A0;
*/}


header, footer {
/*  background-color: #EF476F;
*/  padding: 20px;
  width: 100%;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      max-width: 100%;
      margin: auto;
  }

.projectcontainer {
  width: 96%;
  max-width: 960px;
  margin: 0 auto; /* to center the container */
}
img.projectcontainer {
  width: 48%;
  display: inline-block;
}

#me {
   margin: 0 auto;
   vertical-align: center;
   padding: 15px;
}
/*
img {
	margin: 5px;
	border: 1px;


}*/

#contactpic {
/*  margin: 0 auto;*/
margin-top: 50px;
/*  max-width: 100%;
  max-height: 100%;*/
  padding:15px;
}

.contactcontainer {
  padding:10px;
  width: 96%;
  vertical-align: middle;
/*  margin: 0 auto;  to center the container 
*/}

img.projecticon{
    margin: 0 auto;
    border:10px;
    cursor: pointer;
    cursor: hand;
    display: inline-block;
    padding: 10px;
}


li {
	list-style: none;
}

p {
  margin: 5px 0px;
  line-height: 1.25em;
  padding: 5px;
}

#wrapper {
  margin: 0px auto;
  position: relative;
  min-height: 100%;
}

section {
  background-color: #FFF;
  margin: 0px 10px 0px 10px;
  padding: 0px 10px;
}
.icon {
 display: block;
 margin: 0 auto;
 max-height: 250px;
 max-width: 250px;
 padding:1em;


}

.projecticon{

/* height: 350px;
max-width: 300px;
 padding: 1em;
  margin: 0 auto;
 float: left;*/

}

#contactbox2{
/*border-color: gray;
border: 2px solid gray;*/
background-color: #ffffff;
margin:  auto;
padding: 2em;
}

#contactbox3{
/*border-color: gray;
border: 2px solid gray;*/
background-color: #ffffff;
margin:  auto;
}

#contactbox1{

/*border-color: gray;
border: 2px solid gray;*/
background-color: #ffffff;
margin:  auto;
padding: 5em;
}

#photo {
    max-height: 220px;
    max-width: 220px;
}

.container{
border-color: gray;
border: 2px solid gray;
background-color: #ffffff;
float: left;
vertical-align: middle;
margin: 0 auto;
padding: 0px;
width: 100%;
position: relative;

}

.contactcontainer{
border-color: gray;
border: 2px solid gray;
background-color: #ffffff;
float: right;
vertical-align: middle;
margin: 0px;
padding: 0px;
width: 100%;

}


h2{
text-align: center;
font-size: 3em;

}



.flip {
-webkit-perspective: 800;
width: 400px;
height: 200px;
position: relative;
margin: 50px auto;
}

.myface{
vertical-align: middle;

 height: 300px;
 width: auto;
}


.flip .photo.flipped {
-webkit-transform: rotatex(-180deg);
}
.flip .photo {
width: 100%;
height: 100%;
vertical-align: middle;

-webkit-transform-style: preserve-3d;
-webkit-transition: 0.5s;
}
.flip .photo .face {
 width: 100%;
 height: 100%;
 position: absolute;
 vertical-align: middle;

 -webkit-backface-visibility: hidden ;
 z-index: 2;
 font-family: Georgia;
 font-size: 3em;
 text-align: center;
 line-height: 200px;
}
.flip .photo .front {
 position: absolute;
 vertical-align: middle;

 z-index: 1;
 color: white;
 cursor: pointer;
}
.flip .photo .back {
 -webkit-transform: rotatex(-180deg);
 vertical-align: middle;

  background: blue;
  background: white;
  color: black;
  cursor: pointer;
  background-color: transparent;

}

.face .back{
  vertical-align: middle;

width: 100%;
height: 100%;
background-color: transparent;

}

.backphoto{
vertical-align: middle;

  max-height: 100%;
}

