html, body {
  height: 100%;
  background-color: #727072;
  font-family: 'Arvo', serif;}

h1{
  text-align: center;
  vertical-align: middle;
  color:white;}


/***NAVBAR***/
.navbar-default {
  background-color: #000000;
  border-color: #ebe8ec;
}
.navbar-default .navbar-brand {
  color: #9fa4a5;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #e8e8e8;
}
.navbar-default .navbar-text {
  color: #9fa4a5;
}
.navbar-default .navbar-nav > li > a {
  color: #9fa4a5;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #e8e8e8;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #e8e8e8;
  background-color: #ebe8ec;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #e8e8e8;
  background-color: #ebe8ec;
}
.navbar-default .navbar-toggle {
  border-color: #ebe8ec;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #ebe8ec;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #9fa4a5;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #9fa4a5;
}
.navbar-default .navbar-link {
  color: #9fa4a5;
}
.navbar-default .navbar-link:hover {
  color: #e8e8e8;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #9fa4a5;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #e8e8e8;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #e8e8e8;
    background-color: #ebe8ec;
  }
}
/***NAVBAR END***/

/****About Me Page****/

#picturebox{
margin: 0 auto;}

p {
  margin: 5px 0px;
  line-height: 1.25em;
  padding: 5px;
  font-size: 1.5em;}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      max-width: 100%;
      margin: auto;}
#me {
   margin: 0 auto;
   vertical-align: center;
   padding: 25px;}

.aboutcontainer{
  margin: 0 auto;
  vertical-align: center; 
  padding: 1em;}

.aboutme{
margin: 0 auto;
padding 1em;
border: 5px;}

.container{
border-color: gray;
border: 2px solid gray;
background-color: #ffffff;
float: left;
vertical-align: middle;
margin: 0 auto;
padding: 0px;
width: 100%;
position: relative;}

/****End About PAGE****/

/****Project Page*****/

.projectcontainer {
  width: 96%;
  max-width: 960px;
  margin: 0 auto; }
img.projectcontainer {
  width: 48%;
  display: inline-block;}

img.projecticon{
    margin: 0 auto;
    border:10px;
    cursor: pointer;
    cursor: hand;
    display: inline-block;
    padding: 10px;}

.projecticon{
 height: 350px;
max-width: 300px;
 padding: 1em;
  margin: 0 auto;
/* float: left;*/}

/*CONTACT PAGE*/
.contactcontainer{
background-color: #ffffff;
float: right;
vertical-align: middle;
margin: 0px;
padding: 0px;
width: 100%;}

#contactbox2{
background-color: #ffffff;
margin:  auto;
padding: 2em;}

#contactbox3{
background-color: #ffffff;
margin:  auto;}

.icon {
 display: block;
 margin: 0 auto;
 max-height: 250px;
 max-width: 250px;
 padding:1em;}

#contactbox1{
background-color: #ffffff;
margin:  auto;
padding: 5em;}

li {
  list-style: none;}

#contactpic {
  margin: 0 auto;
  margin-top: 50px;
  max-width: 100%;
  max-height: 100%;
  padding:15px;}

h2{
text-align: center;
font-size: 2.5em;
margin: 10px;
padding: 5px;}
/** CONTACT PAGE END**/


/***HOBBY PAGE ****/

p.hobbies {
  font-size:.35em;
  margin:0 auto;
  text-align: center;
  vertical-align: middle;}

.photo {
    max-height: 220px;
    max-width: 220px;}

#wrapper {
  margin: 0px auto;
  position: relative;
  min-height: 100%;}

.flip {
-webkit-perspective: 800;
width: 400px;
height: 200px;
position: relative;
margin: 50px auto;}

.myface{
 display: inline-block;
 max-height: 300px;
 width: auto;
 margin:0 auto;}

.flip .photo.flipped {
-webkit-transform: rotatex(-180deg);}

.flip .photo {
width: 100%;
height: 100%;
display: inline-block;
-webkit-transform-style: preserve-3d;
-webkit-transition: 0.5s;}

.flip .photo .face {
 width: 100%;
 height: 100%;
 position: absolute;
 display: inline-block;
 -webkit-backface-visibility: hidden ;
 z-index: 2;
 font-family: Georgia;
 font-size: 3em;
 text-align: center;
 line-height: 200px;}

.flip .photo .front {
 position: absolute;
 display: inline-block;
 z-index: 1;
 color: white;
 cursor: pointer;}

.flip .photo .back {
 -webkit-transform: rotatex(-180deg);
  display: inline-block;
  background: blue;
  background: white;
  color: black;
  cursor: pointer;
  background-color: transparent;}

.face .back{
width: 100%;
height: 100%;
background-color: transparent;}

.backphoto{
vertical-align: middle;
max-height: 100%;
margin: 0 auto;}

@media only screen and (min-width: 768px) {
  float: left;
  background-color: lightblue;}
