<div class="container-fluid sec-2 text-center">

  <p class = "hobbies"> When I'm not coding or trying to learn something new you can catch me doing a bunch of different things. Like pretending I'm good at playing guitar, fiddling with a half completed song on the computer, driving around town with my camera, at a show,or sifting through records. Here are some pictures I've taken. Click to flip the face, hope you like them!</p>
 </div> 
</div>


<div class="container-fluid sec-1">

  <div id="wrapper" class = "gallery">
    <div class= "col-md-4" id = "photo1">
      <div class= 'row'></div> 

      <div ng-app="MyPortfolio" ng-controller="photoCtrl">
          <div class="flip"> 
              <div class="photo" ng-class="{'flipped':isFlipped}" ng-click="isFlipped=!isFlipped"> 
                  <div class="face front"> 
                     <img class ="myface" src= "/images/natalie-2-color-1.png" /> 
                  </div> 
                  <div class="face back"> 
                   <img class ="backphoto" src= "/images/IMG_2246.jpg" />  
                  </div> 
              </div> 
          </div> 
      </div>
    </div>

 <div class= "col-md-4" id = "photo2">
  <div class= 'row'></div> 
    <div ng-app="MyPortfolio" ng-controller="photoCtrl">
        <div class="flip"> 
            <div class="photo" ng-class="{'flipped':isFlipped}" ng-click="isFlipped=!isFlipped"> 
                <div class="face front"> 
                   <img class ="myface" src= "/images/natalie-2-color-1.png" /> 
                </div> 
                <div class="face back"> 
                  <img class ="backphoto" src= "/images/IMG_0714.jpg" />  
                </div> 
            </div> 
        </div> 
    </div>
  </div>

  <div class= "col-md-4" id = "photo3">
    <div class= 'row'></div> 
      <div ng-app="MyPortfolio" ng-controller="photoCtrl">
          <div class="flip"> 
              <div class="photo" ng-class="{'flipped':isFlipped}" ng-click="isFlipped=!isFlipped"> 
                  <div class="face front"> 
                     <img class ="myface" src= "/images/natalie-2-color-1.png" alt="Responsive image"/> 
                  </div> 
                  <div class="face back"> 
                       <img class ="backphoto" src= "/images/IMG_2914.jpg"/> 
                  </div> 
              </div> 
          </div> 
      </div>
  </div>

  <div class= 'row'></div> 

  <div class= "col-md-4" id = "photo4">
    <div class= 'row'></div> 
      <div ng-app="MyPortfolio" ng-controller="photoCtrl">
          <div class="flip"> 
              <div class="photo" ng-class="{'flipped':isFlipped}" ng-click="isFlipped=!isFlipped"> 
                  <div class="face front"> 
                     <img class ="myface" src= "/images/natalie-2-color-1.png" /> 
                  </div> 
                  <div class="face back"> 
                       <img class ="backphoto" src= "/images/IMG_0742.jpg" /> 
                  </div> 
              </div> 
          </div> 
      </div>
  </div>

  <div class= "col-md-4" id = "photo5">
    <div class= 'row'></div> 
      <div ng-app="MyPortfolio" ng-controller="photoCtrl">
          <div class="flip"> 
              <div class="photo" ng-class="{'flipped':isFlipped}" ng-click="isFlipped=!isFlipped"> 
                  <div class="face front"> 
                     <img class ="myface" src= "/images/natalie-2-color-1.png" alt="Responsive image"/> 
                  </div> 
                  <div class="face back"> 
                       <img class ="backphoto" src= "/images/DSC00134.jpg" /> 
                  </div> 
              </div> 
          </div> 
      </div>
  </div>

    <div class= "col-md-4" id = "photo6">
      <div class= 'row'></div> 
        <div ng-app="MyPortfolio" ng-controller="photoCtrl">
            <div class="flip"> 
                <div class="photo" ng-class="{'flipped':isFlipped}" ng-click="isFlipped=!isFlipped"> 
                    <div class="face front"> 
                       <img class ="myface" src= "/images/natalie-2-color-1.png" alt="Responsive image"/> 
                    </div> 
                    <div class="face back"> 
                         <img class ="backphoto" src= "/images/IMG_2151.jpg" /> 
                    </div> 
                </div> 
            </div> 
        </div>
    </div>
  </div>
</div>


  