

<div id="wrapper" class = "gallery">
  <div class= "col-md-4" id = "photo1">
    <div class= 'row'></div> 

    <div ng-app="MyPortfolio" ng-controller="photoCtrl">
        <div class="flip"> 
            <div class="photo" ng-class="{'flipped':isFlipped}" ng-click="isFlipped=!isFlipped"> 
                <div class="face front"> 
                   <img class ="myface" src= "/images/natalie-2-color-1.png" /> 
                </div> 
                <div class="face back"> 
                    <img class ="backphoto" src= "/images/IMG_0714.jpg" /> 
                </div> 
            </div> 
        </div> 
    </div>
  </div>

 <div class= "col-md-4" id = "photo2">
  <div class= 'row'></div> 
    <div ng-app="MyPortfolio" ng-controller="photoCtrl">
        <div class="flip"> 
            <div class="photo" ng-class="{'flipped':isFlipped}" ng-click="isFlipped=!isFlipped"> 
                <div class="face front"> 
                   <img class ="myface" src= "/images/natalie-2-color-1.png" /> 
                </div> 
                <div class="face back"> 
                    <img class ="backphoto" src= "/images/IMG_0689.jpg" /> 
                </div> 
            </div> 
        </div> 
    </div>
  </div>

  <div class= "col-md-4" id = "photo3">
    <div class= 'row'></div> 
      <div ng-app="MyPortfolio" ng-controller="photoCtrl">
          <div class="flip"> 
              <div class="photo" ng-class="{'flipped':isFlipped}" ng-click="isFlipped=!isFlipped"> 
                  <div class="face front"> 
                     <img class ="myface" src= "/images/natalie-2-color-1.png" alt="Responsive image"/> 
                  </div> 
                  <div class="face back"> 
                       <img class ="backphoto" src= "/images/IMG_0644.jpg"/> 
                  </div> 
              </div> 
          </div> 
      </div>
  </div>

  <div class= 'row'></div> 

  <div class= "col-md-4" id = "photo4">
    <div class= 'row'></div> 
      <div ng-app="MyPortfolio" ng-controller="photoCtrl">
          <div class="flip"> 
              <div class="photo" ng-class="{'flipped':isFlipped}" ng-click="isFlipped=!isFlipped"> 
                  <div class="face front"> 
                     <img class ="myface" src= "/images/natalie-2-color-1.png" /> 
                  </div> 
                  <div class="face back"> 
                       <img class ="backphoto" src= "/images/IMG_0742.jpg" /> 
                  </div> 
              </div> 
          </div> 
      </div>
  </div>

  <div class= "col-md-4" id = "photo5">
    <div class= 'row'></div> 
      <div ng-app="MyPortfolio" ng-controller="photoCtrl">
          <div class="flip"> 
              <div class="photo" ng-class="{'flipped':isFlipped}" ng-click="isFlipped=!isFlipped"> 
                  <div class="face front"> 
                     <img class ="myface" src= "/images/natalie-2-color-1.png" alt="Responsive image"/> 
                  </div> 
                  <div class="face back"> 
                       <img class ="backphoto" src= "/images/DSC00134.jpg" /> 
                  </div> 
              </div> 
          </div> 
      </div>
  </div>

  <div class= "col-md-4" id = "photo6">
    <div class= 'row'></div> 
      <div ng-app="MyPortfolio" ng-controller="photoCtrl">
          <div class="flip"> 
              <div class="photo" ng-class="{'flipped':isFlipped}" ng-click="isFlipped=!isFlipped"> 
                  <div class="face front"> 
                     <img class ="myface" src= "/images/natalie-2-color-1.png" alt="Responsive image"/> 
                  </div> 
                  <div class="face back"> 
                       <img class ="backphoto" src= "/images/IMG_2151.jpg" /> 
                  </div> 
              </div> 
          </div> 
      </div>
  </div>
</div>


  